In [1]:
# imports
import pandas as pd
import numpy as np

In [14]:
ts.columns

Index(['Unnamed: 0', 'Date', 'Symbol', 'Open', 'High', 'Low', 'Close',
       'Volume', 'Market Cap'],
      dtype='object')

In [8]:
ts = pd.read_csv('../data/all_currencies.csv', index_col=0)
ts

,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN
...,...,...,...,...,...,...,...,...
298,2018-09-23,ZZC,0.067149,0.067324,0.024069,0.024161,34.0,130705.0
299,2018-09-24,ZZC,0.024167,0.091875,0.024121,0.091631,58.0,47041.0
300,2018-09-25,ZZC,0.091528,0.091568,0.057507,0.090547,752.0,178158.0
301,2018-09-26,ZZC,0.090400,0.104745,0.086071,0.086559,60.0,175963.0
302,2018-09-27,ZZC,0.086664,0.130541,0.067363,0.073475,91.0,168691.0

In [10]:
ts['Market Cap'].isna().value_counts()

False    567841
True      64377
Name: Market Cap, dtype: int64

In [11]:
ts.Symbol.nunique()

887

In [19]:
ts.Symbol.value_counts()[-870:]

FRC      1868
IFC      1867
QRK      1856
PXC      1844
ZET      1840
         ...
ANON        2
PHON        2
MNP         2
DACH        2
AZART       1
Name: Symbol, Length: 870, dtype: int64

In [54]:
# create dataframe of meta data
meta_data = pd.DataFrame(columns=['Symbol', 'Start Data', 'End Date', 'Value At Start', 'Value at End', 'ATH', 'ATL', 'Num_values'])

In [41]:
df.shape[0]

1040

In [39]:
df = ts[ts['Symbol']=='$$$']
df.Date[-1:]

1039    2018-09-27
Name: Date, dtype: object

In [69]:
df.Close[-1:]

302    0.073475
Name: Close, dtype: float64

In [68]:
# find start, end dates and number of data points for each coin
i=0
for coin in ts.Symbol.unique():
    # instantiate list to add to metadata frame
    my_list = [coin]
    df = ts[ts['Symbol'] == coin]

    # find start date
    my_list.append(df.Date[0])
    
    # find end date
    my_list.append(df.Date[-1:])
    
    # find starting value
    my_list.append(df.Open[0])

    # find ending value
    my_list.append(df.Close[-1:])

    # find all time high
    my_list.append(max(max(df.Open), max(df.Close)))

    # find all time low
    my_list.append(min(min(df.Open), min(df.Close)))

    # find number of entries
    my_list.append(df.shape[0])

    # add coin info to df
    meta_data.loc[i] = my_list
#     print(coin)
    i+=1
        
meta_data

$$$
$PAC
1337
2GIVE
42
611
808
888
8BIT
ABY
AC
AC3
ACC
ACED
ACES
ACOIN
ACP
ACRE
ACT
ADA
ADC
ADCN
ADK
ADN
ADZ
AEG
AEON
AIB
AKA
AKY
ALL
AMMO
AMS
ANC
ANI
ANON
ANTX
APL
APR
ARB
ARC
ARCO
ARDR
AREPA
ARG
ARGUS
ARI
ARION
ARK
ARLIZE
ARO
ASAFE2
ATB
ATC
ATCC
ATMOS
ATOM
ATX
AU
AUR
AV
AXIOM
AZART
B2X
BANK
BAY
BBK
BBP
BBR
BBS
BCA
BCD
BCF
BCH
BCI
BCN
BCO
BCX
BDL
BEET
BEN
BENJI
BERN
BET
BIFI
BIGUP
BIO
BIP
BIR
BIRDS
BIS
BIT
BITB
BITF
BITG
BITOK
BITS
BLAZR
BLC
BLK
BLOCK
BLU
BLZ
BND
BNX
BOAT
BOLI
BOS
BOST
BPL
BRIA
BRIT
BRK
BRO
BRX
BSC
BSD
BSM
BSN
BSR
BSTY
BT2
BTA
BTAD
BTB
BTBc
BTC
BTCD
BTCN
BTCP
BTCR
BTCS
BTCZ
BTDX
BTG
BTI
BTM
BTN
BTPL
BTQ
BTS
BTW
BTX
BTXC
BU
BUB
BUMBA
BUN
BURST
BUZZ
BWK
BWS
BYC
C2
C2P
CAB
CACH
CANN
CARBON
CARE
CASH
CAT
CATO
CAZ
CBC
CBX
CCC
CCN
CCRB
CDM
CDN
CF
CFC
CFL
CHAN
CHAT
CHC
CHEAP
CHESS
CHIPS
CIF
CJ
CKUSD
CLAM
CLO
CLOAK
CLUB
CMM
CMPCO
CMT
CNET
CNNC
CNO
CNT
CNX
COAL
COLX
COMP
CONX
COTN
COUPE
CPC
CPN
CRAVE
CRC
CRDNC
CREA
CREVA
CRM
CROAT
CROP
CRW
CRYPT
CSC
CSTL
CTC
CTIC2
CTL
CURE
CXT
CYDER
DACH
DASC
DASH
DAXX
DBIX
DBTC
DCR
DCT
DCY
DEM
DERO
DEUS
DEV
DFS
DFT
DGB
DGC
DIME
DIN
DLC
DMB
DMC
DMD
DNR
DNZ
DOGE
DOLLAR
DON
DOPE
DP
DRM
DRS
DRXNE
DSH
DSR
DTC
DTEM
DUO
DUTCH
DYN
EAG
EBST
ECA
ECC
ECN
ECO
EDR
EDRC
EFL
EGC
EGEM
EL
ELA
ELE
ELLA
ELLI
ELS
EMB
EMC
EMC2
EMD
ENRG
ENT
EOS
EQT
ERA
ERC
ERY
ESCO
ESN
ESP
ETC
ETH
ETHD
ETN
ETP
ETZ
EUC
EUNO
EVIL
EXCL
EXP
FAIR
FANS
FCN
FCT
FGC
FIL
FJC
FLASH
FLAX
FLM
FLO
FLT
FOIN
FOR
FORK
FRC
FRGC
FRN
FRRN
FRST
FST
FTC
FTO
FUNK
FUZZ
GAME
GAP
GB
GBG
GBX
GBYTE
GCC
GCN
GCR
GDC
GEERT
GIC
GIN
GIO
GLD
GLS
GLT
GMCN
GMX
GNR
GO
GOD
GOLF
GOLOS
GOSS
GP
GPKR
GPL
GRC
GRFT
GRIM
GRLC
GRN
GRPH
GRS
GRWI
GSR
GTM
GUN
GXS
HAL
HALLO
HBC
HBN
HC
HDAC
HEAT
HIGH
HIGHT
HMC
HNC
HODL
HONEY
HPC
HRC
HT
HTH
HTML
HUC
HUSH
HVCO
HWC
HXX
HYC
HYP
HYPER
I0C
IBANK
IC
ICN
ICOB
ICON
ICR
ICX
IFC
IFLT
IFP
IMS
IMX
INFX
INN
INSN
IOC
ION
IOP
IQ
IRL
ITI
ITZ
IXC
J
JEW
JIN
JIYO
JOBS
KB3
KDC
KED
KEK
KLKS
KMD
KNC
KOBO
KORE
KRB
KRONE
KST
KURT
KUSH
LANA
LBC
LBTC
LCC
LCP
LDOGE
LEA
LEO
LET
LEVO
LGS
LINDA
LINX
LKK
LMC
LOBS
LOG
LOKI
LPC
LSK
LTB
LTC
LTCR
LTCU
LTHN
LUNA
LUX
LVPS
LWF
LYNX
MAC
MAG
MAGE
MAGN
MANNA
MAO
MAR
MARS
MARX
MAX
MAY
MAZA
MCC
MCRN
MEC
MEDIC
MEME
MERO
MGD
MGM
MILO
MINT
MIOTA
MLM
MNC
MNP
MNTP
MNX
MOAC
MOIN
MOJO
MONA
MONK
MOON
MOTO
MRI
MRQ
MSCN
MSD
MSR
MST
MTNC
MUE
MUSIC
MXT
NAMO
NANO
NANOX
NAS
NAV
NBR
NCP
NEBL
NEO
NEOS
NET
NETKO
NEVA
NIM
NIX
NKA
NLC2
NLG
NLX
NMC
NMS
NOBL
NOTE
NPW
NRG
NRO
NSD
NTRN
NTY
NUKO
NVC
NXS
NXT
NYAN
NYC
NYEX
OC
OCC
ODN
OF
OK
OLMP
OMC
OMNI
ONION
ONT
ONX
OOT
OPAL
OPC
OPCX
ORB
ORE
OXY
PAI
PAK
PART
PASC
PASL
PAXEX
PCN
PCOIN
PCS
PDX
PENG
PEX
PGN
PHO
PHON
PHR
PHS
PIE
PIGGY
PINK
PIRL
PIVX
PKB
PLACO
PLAN
PLC
PLNC
PLURA
PND
PNX
POA
POLIS
PONZI
POP
POST
POSW
POT
PPC
PPY
PR
PRC
PRIV
PRJ
PRN
PROC
PROUD
PRTX
PTC
PURA
PUREX
PUT
PWR
PXC
PXI
PZM
Q2C
QBC
QBIC
QBT
QNO
QRK
QTL
QTUM
RADS
RAIN
RBBT
RBIES
RBMC
RBT
RBY
RC
RCN
RDD
REC
RED
RICHX
RISE
RMC
RNS
ROOFS
RPC
RUNNERS
RUP
RUPX
RVN
RVR
RYO
SAGA
SAK
SANDG
SBD
SBTC
SC
SC2
SCR
SCRT
SCS
SEM
SEND
SEQ
SFC
SHA
SHARD
SHIFT
SHND
SIB
SIC
SIGMA
SIGT
SJW
SKC
SKR
SKY
SLEVIN
SLG
SLR
SLS
SMART
SMC
SMLY
SNO
SNRG
SOCC
SOIL
SONG
SONO
SOON
SPACE
SPD
SPHR
SPK
SPR
SPRTS
SRC
SSC
STAK
STARS
START
STEEM
STN
STRAT
STV
SUMO
SUP
SUPER
SWING
SWTC
SXC
SYNX
SYS
TAG
TAJ
TALK
TCC
TCN
TEK
TELL
TER
TES
TGC
THC
TIPS
TIT
TLE
TMC
TOA
TOK
TOKC
TPAY
TRC
TRF
TRI
TRK
TROLL
TRTL
TRTT
TRUMP
TRUST
TRX
TSC
TSE
TTC
TTT
TUBE
TURBO
TV
TWIST
TX
TZC
UBQ
UBTC
UCOM
UFO
UIS
UNB
UNI
UNIC
UNIFY
UNIT
UNO
UNRC
URALS
USC
USNBT
UT
UTC
V
VEC2
VET
VIA
VIDZ
VIN
VIPS
VISIO
VITAE
VIVID
VIVO
VLT
VLTC
VOLT
VOT
VPRC
VRC
VRM
VSX
VTA
VTC
VUC
VULC
W3C
WA
WAN
WAVES
WBB
WC
WDC
WHL
WICC
WINK
WOMEN
WORM
WSX
XAP
XAS
XBC
XBI
XBTC21
XBY
XCASH
XCG
XCN
XCO
XCP
XCT
XCXT
XDN
XDNA
XEL
XEM
XGOX
XHI
XHV
XIN
XJO
XLC
XLM
XLQ
XLR
XMC
XMCC
XMG
XMO
XMR
XMY
XP
XPD
XPM
XPTX
XPY
XQN
XRA
XRE
XRH
XRP
XRY
XSD
XSG
XSH
XSN
XSPEC
XST
XSTC
XTL
XTO
XTZ
XUN
XVG
XWC
XXX
XZC
YOC
YTN
ZBA
ZCL
ZCR
ZEC
ZEIT
ZEL
ZEN
ZENI
ZER
ZEST
ZET
ZMC
ZNY
ZOI
ZP
ZSE
ZUR
ZYD
ZZC

,Symbol,Start Data,End Date,Value At Start,Value at End,ATH,ATL,Num_values
0,$$$,2015-11-12,"1039 2018-09-27 Name: Date, dtype: object",1.300000e-05,"1039 0.000935 Name: Close, dtype: float64",1.737900e-02,5.000000e-06,1040
1,$PAC,2015-11-02,"1052 2018-09-27 Name: Date, dtype: object",7.200000e-09,"1052 0.002622 Name: Close, dtype: float64",1.618900e-02,2.500000e-09,1053
2,1337,2015-11-09,"1053 2018-09-27 Name: Date, dtype: object",8.000000e-05,"1053 0.000075 Name: Close, dtype: float64",1.085000e-03,6.500000e-07,1054
3,2GIVE,2016-05-16,"864 2018-09-27 Name: Date, dtype: object",1.920000e-04,"864 0.003664 Name: Close, dtype: float64",3.958000e-02,9.200000e-05,865
4,42,2014-01-14,"1702 2018-09-27 Name: Date, dtype: object",1.013620e+06,"1702 24176.0 Name: Close, dtype: float64",1.013620e+06,2.072000e+01,1703
...,...,...,...,...,...,...,...,...
882,ZP,2018-08-20,"38 2018-09-27 Name: Date, dtype: object",7.362340e-01,"38 0.43237 Name: Close, dtype: float64",1.130000e+00,3.801200e-01,39
883,ZSE,2017-03-30,"545 2018-09-27 Name: Date, dtype: object",1.217860e-01,"545 0.009013 Name: Close, dtype: float64",3.640940e-01,1.748000e-03,546
884,ZUR,2016-05-09,"790 2018-09-25 Name: Date, dtype: object",5.500000e-05,"790 0.000513 Name: Close, dtype: float64",2.149700e-02,1.200000e-05,791
885,ZYD,2016-09-17,"717 2018-09-27 Name: Date, dtype: object",1.049100e-02,"717 0.00454 Name: Close, dtype: float64",2.101000e-02,8.930000e-04,718
886,ZZC,2017-11-21,"302 2018-09-27 Name: Date, dtype: object",2.910000e+00,"302 0.073475 Name: Close, dtype: float64",3.400000e+00,2.416100e-02,303

In [93]:
coin = '$$$'
# instantiate list to add to metadata frame
my_list = [coin]
df = ts[ts['Symbol'] == coin]

# find start date
my_list.append(df.Date[0])
    
# find end date
my_list.append(max(df['Date']))
    
# find starting value
my_list.append(df.Open[0])

# find ending value
my_list.append(df['Close'][-2:-1])

# find all time high
my_list.append(max(max(df.Open), max(df.Close)))

# find all time low
my_list.append(min(min(df.Open), min(df.Close)))

   # find number of entries
my_list.append(df.shape[0])

my_list

['$$$',
 '2015-11-12',
 '2018-09-27',
 1.3000000000000001e-05,
 1038    0.000905
 Name: Close, dtype: float64,
 0.017379,
 5e-06,
 1040]

3.4

In [70]:
meta_data

,Symbol,Start Data,End Date,Value At Start,Value at End,ATH,ATL,Num_values
0,$$$,2015-11-12,"1039 2018-09-27 Name: Date, dtype: object",1.300000e-05,"1039 0.000935 Name: Close, dtype: float64",1.737900e-02,5.000000e-06,1040
1,$PAC,2015-11-02,"1052 2018-09-27 Name: Date, dtype: object",7.200000e-09,"1052 0.002622 Name: Close, dtype: float64",1.618900e-02,2.500000e-09,1053
2,1337,2015-11-09,"1053 2018-09-27 Name: Date, dtype: object",8.000000e-05,"1053 0.000075 Name: Close, dtype: float64",1.085000e-03,6.500000e-07,1054
3,2GIVE,2016-05-16,"864 2018-09-27 Name: Date, dtype: object",1.920000e-04,"864 0.003664 Name: Close, dtype: float64",3.958000e-02,9.200000e-05,865
4,42,2014-01-14,"1702 2018-09-27 Name: Date, dtype: object",1.013620e+06,"1702 24176.0 Name: Close, dtype: float64",1.013620e+06,2.072000e+01,1703
...,...,...,...,...,...,...,...,...
882,ZP,2018-08-20,"38 2018-09-27 Name: Date, dtype: object",7.362340e-01,"38 0.43237 Name: Close, dtype: float64",1.130000e+00,3.801200e-01,39
883,ZSE,2017-03-30,"545 2018-09-27 Name: Date, dtype: object",1.217860e-01,"545 0.009013 Name: Close, dtype: float64",3.640940e-01,1.748000e-03,546
884,ZUR,2016-05-09,"790 2018-09-25 Name: Date, dtype: object",5.500000e-05,"790 0.000513 Name: Close, dtype: float64",2.149700e-02,1.200000e-05,791
885,ZYD,2016-09-17,"717 2018-09-27 Name: Date, dtype: object",1.049100e-02,"717 0.00454 Name: Close, dtype: float64",2.101000e-02,8.930000e-04,718
886,ZZC,2017-11-21,"302 2018-09-27 Name: Date, dtype: object",2.910000e+00,"302 0.073475 Name: Close, dtype: float64",3.400000e+00,2.416100e-02,303

In [26]:
ts_clean.Symbol.nunique()

765

In [28]:
ts.Symbol.nunique() - ts_clean.Symbol.nunique()

122