In [1]:
# imports
import pandas as pd
import numpy as np

In [2]:
ts = pd.read_csv('../data/all_currencies.csv')
ts

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN
...,...,...,...,...,...,...,...,...,...
632213,298,2018-09-23,ZZC,0.067149,0.067324,0.024069,0.024161,34.0,130705.0
632214,299,2018-09-24,ZZC,0.024167,0.091875,0.024121,0.091631,58.0,47041.0
632215,300,2018-09-25,ZZC,0.091528,0.091568,0.057507,0.090547,752.0,178158.0
632216,301,2018-09-26,ZZC,0.090400,0.104745,0.086071,0.086559,60.0,175963.0
632217,302,2018-09-27,ZZC,0.086664,0.130541,0.067363,0.073475,91.0,168691.0

In [8]:
check.value_counts()

0       887
1       886
3       882
2       882
6       878
       ...
1976      5
1977      5
1974      5
1975      5
1978      3
Name: Unnamed: 0, Length: 1979, dtype: int64

In [15]:
check.tail()

632213    298
632214    299
632215    300
632216    301
632217    302
Name: Unnamed: 0, dtype: int64

In [14]:
ts.columns

Index(['Unnamed: 0', 'Date', 'Symbol', 'Open', 'High', 'Low', 'Close',
       'Volume', 'Market Cap'],
      dtype='object')

In [6]:
check = ts['Unnamed: 0']

In [5]:
ts['Unnamed: 0'].value_counts()

0       887
1       886
3       882
2       882
6       878
       ...
1976      5
1977      5
1974      5
1975      5
1978      3
Name: Unnamed: 0, Length: 1979, dtype: int64

In [17]:
ts['Market Cap'].isna().value_counts()

False    567841
True      64377
Name: Market Cap, dtype: int64

In [19]:
ts.Symbol.nunique()

887

In [25]:
ts_clean = ts.dropna(subset=['Market Cap'])
ts_clean

,Unnamed: 0,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
29,29,2015-12-11,$$$,0.000050,0.000050,0.000022,0.000027,1.0,2287.0
30,30,2015-12-12,$$$,0.000027,0.000044,0.000021,0.000043,0.0,1245.0
31,31,2015-12-13,$$$,0.000043,0.000044,0.000022,0.000022,2.0,1996.0
32,32,2015-12-14,$$$,0.000022,0.000022,0.000022,0.000022,3.0,994.0
33,33,2015-12-15,$$$,0.000022,0.000023,0.000022,0.000023,2.0,1018.0
...,...,...,...,...,...,...,...,...,...
632213,298,2018-09-23,ZZC,0.067149,0.067324,0.024069,0.024161,34.0,130705.0
632214,299,2018-09-24,ZZC,0.024167,0.091875,0.024121,0.091631,58.0,47041.0
632215,300,2018-09-25,ZZC,0.091528,0.091568,0.057507,0.090547,752.0,178158.0
632216,301,2018-09-26,ZZC,0.090400,0.104745,0.086071,0.086559,60.0,175963.0
632217,302,2018-09-27,ZZC,0.086664,0.130541,0.067363,0.073475,91.0,168691.0

In [26]:
ts_clean.Symbol.nunique()

765

In [28]:
ts.Symbol.nunique() - ts_clean.Symbol.nunique()

122