In [1]:
# imports
import pandas as pd
import numpy as np

In [14]:
ts.columns

Index(['Unnamed: 0', 'Date', 'Symbol', 'Open', 'High', 'Low', 'Close',
       'Volume', 'Market Cap'],
      dtype='object')

In [8]:
ts = pd.read_csv('../data/all_currencies.csv', index_col=0)
ts

,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN
...,...,...,...,...,...,...,...,...
298,2018-09-23,ZZC,0.067149,0.067324,0.024069,0.024161,34.0,130705.0
299,2018-09-24,ZZC,0.024167,0.091875,0.024121,0.091631,58.0,47041.0
300,2018-09-25,ZZC,0.091528,0.091568,0.057507,0.090547,752.0,178158.0
301,2018-09-26,ZZC,0.090400,0.104745,0.086071,0.086559,60.0,175963.0
302,2018-09-27,ZZC,0.086664,0.130541,0.067363,0.073475,91.0,168691.0

In [10]:
ts['Market Cap'].isna().value_counts()

False    567841
True      64377
Name: Market Cap, dtype: int64

In [11]:
ts.Symbol.nunique()

887

In [19]:
ts.Symbol.value_counts()[-870:]

FRC      1868
IFC      1867
QRK      1856
PXC      1844
ZET      1840
         ...
ANON        2
PHON        2
MNP         2
DACH        2
AZART       1
Name: Symbol, Length: 870, dtype: int64

In [23]:
# create dataframe of meta data
meta_data = pd.DataFrame(columns=['Symbol', 'Start Data', 'End Date', 'Value At Start', 'Value at End', 'Num_values'])

str

In [29]:
df = ts[ts['Symbol']=='$$$']
df

,Date,Symbol,Open,High,Low,Close,Volume,Market Cap
0,2015-11-12,$$$,0.000013,0.000017,0.000013,0.000017,142.0,NaN
1,2015-11-13,$$$,0.000017,0.000033,0.000016,0.000024,85.0,NaN
2,2015-11-14,$$$,0.000024,0.000053,0.000023,0.000030,131.0,NaN
3,2015-11-15,$$$,0.000030,0.000063,0.000022,0.000035,132.0,NaN
4,2015-11-16,$$$,0.000035,0.000046,0.000032,0.000036,280.0,NaN
...,...,...,...,...,...,...,...,...
1035,2018-09-23,$$$,0.001006,0.001150,0.001002,0.001138,11.0,46173.0
1036,2018-09-24,$$$,0.001138,0.001142,0.000985,0.000988,85.0,52222.0
1037,2018-09-25,$$$,0.000987,0.001112,0.000953,0.000965,47.0,45304.0
1038,2018-09-26,$$$,0.000963,0.001111,0.000905,0.000905,140.0,44194.0
1039,2018-09-27,$$$,0.000906,0.000979,0.000903,0.000935,161.0,41588.0

In [ ]:
# find start, end dates and number of data points for each coin

for coin in ts.Symbol.unique():
    list = [coin]
    df = ts[ts['Symbol'] == coin]

In [ ]:
# find and drop coins with less than 800 data points

In [26]:
ts_clean.Symbol.nunique()

765

In [28]:
ts.Symbol.nunique() - ts_clean.Symbol.nunique()

122