In [1]:
# First import the libraries that we need to use
import pandas as pd
import requests
import json

In [2]:
# # daily data
# def fetch_daily_data(symbol):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?granularity=86400'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_dailydata.csv', index=False)

#     else:
#         print("Did not receieve OK response from Coinbase API")


# # if __name__ == "__main__":
# #     # we set which pair we want to retrieve data for
# #     pair = "BTC/USD"
# #     fetch_daily_data(symbol=pair)

In [3]:
# def fetch_minute_data(symbol):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_daily_m_data.csv', index=False)

#     else:
#         print("Did not receieve OK response from Coinbase API")


# # if __name__ == "__main__":
# #     # we set which pair we want to retrieve data for
# #     pair = "BTC/USD"
# #     fetch_minute_data(symbol=pair)

In [4]:
# def fetch_my_data(symbol):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26&granularity=86400'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_data.csv', index=False)
            

#     else:
#         print("Did not receieve OK response from Coinbase API")


# # if __name__ == "__main__":
# #     # we set which pair we want to retrieve data for
# #     pair = "BTC/USD"
# #     fetch_my_data(symbol=pair)

In [5]:
# counter = 0

In [6]:
# def fetch_data(symbol, counter=counter):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26T05:00:00&end=2021-07-26T09:59:00'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_data_{i}.csv', index=False)
            

#     else:
#         print("Did not receieve OK response from Coinbase API")


# if __name__ == "__main__":
#     # we set which pair we want to retrieve data for
#     pair = "BTC/USD"
#     fetch_data(symbol=pair)            
#     i+=1

# i

In [7]:
# imported data from other sources stops at 2018-09-27
# create loop that gathers daily data from 2018-09-27 to present
from datetime import datetime as dt, timedelta

In [8]:
# last_date = '2018-09-27'
# last_date = dt.strpdate(last_date, '%Y-%m-%d')
from datetime import date
last_date = date(2018, 9, 27)
last_date

datetime.date(2018, 9, 27)

In [9]:
today = date.today()

In [10]:
yesterday = today - timedelta(days=1)

In [11]:
today - last_date

datetime.timedelta(days=1050)

In [12]:
# create strings that will hold dates for api queries
year = '2018'
month = '00'
day = '00'

In [13]:
date = last_date + timedelta(days=1)
date

datetime.date(2018, 9, 28)

In [14]:
# create code to change date while maintaining leading zeroes
day_len = len(str(date.day))
day = day[:-day_len] + str(date.day)

month_len = len(str(date.month))
month = month[:-month_len] + str(date.month)

print(year, month, day)

2018 09 28

In [19]:
# test function for loop below
def pass_range(range1, range2):
    print(range1, range2)

In [23]:
from datetime import date
# final date in kaggle data
last_date = date(2018, 9, 26)
last_date

# first date in kaggle data
first_date = date(2013, 4, 28)
first_date

#initial date searching for btc data
old = date(2009,1,1)

## Begin at end of kaggle data and go to current date

In [24]:
last_date

datetime.date(2018, 9, 26)

In [26]:
i = 0
# instatntiate "date"
i_date = last_date

# get information for all dayes between today and missing date

# wrap in while lloop to prevent run away queries
while i_date < date.today():
    if date.today() - i_date > timedelta(days=300):
        i_date = last_date + timedelta(days=300)
    
    else:
        i_date = last_date + (date.today() - i_date)
    
    #define start and end dates for query
    start = str(last_date+timedelta(days=1))
    end = str(i_date)
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    last_date = i_date

In [31]:
def make_folder(path):
    !mkdir 'try_it'

In [32]:
make_folder('here')

## Begin at today's date and move back to start date

In [27]:
# instantiate "date", do not include current date as information is not complete
i_date = date.today() - timedelta(days=1)

# create placeholder for date range 
place_date = i_date

# get information for all dayes between today and missing date

# wrap in while lloop to prevent run away queries
while i_date > old:

    i_date = place_date - timedelta(days=300)

    #define start and end dates for query
    end = str(place_date)
    start = str(i_date+timedelta(days=1))
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    place_date = i_date

2020-10-16 2021-08-11
2019-12-21 2020-10-15
2019-02-24 2019-12-20
2018-04-30 2019-02-23
2017-07-04 2018-04-29
2016-09-07 2017-07-03
2015-11-12 2016-09-06
2015-01-16 2015-11-11
2014-03-22 2015-01-15
2013-05-26 2014-03-21
2012-07-30 2013-05-25
2011-10-04 2012-07-29
2010-12-08 2011-10-03
2010-02-11 2010-12-07
2009-04-17 2010-02-10
2008-06-21 2009-04-16

In [50]:
del start

In [55]:
def fetch_range_data(symbol, start, end, folder_name):
    # make folder for data
    folder_name = f'../data/coinbase/daily_raw/{folder_name}'
    !mkdir folder_name

    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?granularity=86400&start={start}&end={end}'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
        data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

        # if we failed to get any data, print an error...otherwise write the file
        if data is None:
            print("Did not return any data from Coinbase for this symbol")
        else:
            data.to_csv(f'../data/coinbase/daily_raw/{final}/Coinbase_{pair_split[0] + pair_split[1]}_data_{start}_{end}.csv', index=False)


    else:
        print("Did not receieve OK response from Coinbase API")
        

final = date.today() - timedelta(days=1)
# get all available data from given date
if __name__ == "__main__":
#     # import object rather than class
#     from datetime import date
    # we set which pair we want to retrieve data for
    pair = "BTC/USD"

    # instatntiate "date"
    i_date = date.today() - timedelta(days=1)

    # create placeholder for date range 
    place_date = i_date
#     # import object rather than class
#     from datetime import date
    #initial date searching for btc data on coinbase api
    old = date(2015,7,20)

    # wrap in while loop to prevent run away queries
    while i_date > old:

        i_date = place_date - timedelta(days=300)

        #define start and end dates for query
        end = str(place_date)
        start = str(i_date+timedelta(days=1))
    
        fetch_range_data(pair, start, end, final) 
    
        # set last date to date to continue loop
        place_date = i_date

A subdirectory or file folder_name already exists.
A subdirectory or file folder_name already exists.
A subdirectory or file folder_name already exists.
A subdirectory or file folder_name already exists.
A subdirectory or file folder_name already exists.
A subdirectory or file folder_name already exists.
A subdirectory or file folder_name already exists.
A subdirectory or file folder_name already exists.

In [33]:
# instatntiate "date"
i_date = date.today()

# create placeholder for date range 
place_date = i_date

# get information for all dayes between today and missing date

# wrap in while loop to prevent run away queries
while i_date > old:

    i_date = place_date - timedelta(days=300)

    #define start and end dates for query
    end = str(place_date)
    start = str(i_date+timedelta(days=1))
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    place_date = i_date

# Combine Data

In [57]:
import os

In [58]:
# make empty list to store coinbase paths
cb_list = []
yesterday = date.today() - timedelta(days=1)
path = f'../data/coinbase/daily_raw/{yesterday}'
for root, dirs, files in os.walk(path):
    
    if root == path:
        for name in files:
            cb_list.append(os.path.join(root,name))
    
cb_list

['../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2015-01-16_2015-11-11.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2015-11-12_2016-09-06.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2016-09-07_2017-07-03.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2017-07-04_2018-04-29.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2018-04-30_2019-02-23.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2019-02-24_2019-12-20.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2019-12-21_2020-10-15.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2020-10-16_2021-08-11.csv']

In [59]:
# cb_list = cb_list[6:]
cb_list

['../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2015-01-16_2015-11-11.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2015-11-12_2016-09-06.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2016-09-07_2017-07-03.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2017-07-04_2018-04-29.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2018-04-30_2019-02-23.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2019-02-24_2019-12-20.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2019-12-21_2020-10-15.csv',
 '../data/coinbase/daily_raw/2021-08-11\\Coinbase_BTCUSD_data_2020-10-16_2021-08-11.csv']

In [60]:
#combine all csv files into single data frame
df = pd.DataFrame()
for my_df in cb_list:
    df = df.append(pd.read_csv(my_df), ignore_index=True)

# df = df.append(pd.read_csv('../data/coinbase/Coinbase_BTCUSD_data.csv'), ignore_index=True)
# df

In [65]:
df.sort_values('date')

,unix,low,high,open,close,volume,date,vol_fiat
114,1437350400,277.37,280.00,277.98,280.00,782.883420,2015-07-20,2.192074e+05
113,1437436800,276.85,281.27,279.96,277.32,4943.559434,2015-07-21,1.370948e+06
112,1437523200,275.01,278.54,277.33,277.89,4687.909383,2015-07-22,1.302723e+06
111,1437609600,276.28,279.75,277.96,277.39,5306.919575,2015-07-23,1.472086e+06
110,1437696000,276.43,291.52,277.23,289.12,7362.469083,2015-07-24,2.128637e+06
...,...,...,...,...,...,...,...,...
1919,1628294400,42457.27,44750.00,42869.59,44637.34,19634.794756,2021-08-07,8.764450e+08
1918,1628380800,43131.97,45363.83,44628.11,43829.14,18712.271582,2021-08-08,8.201428e+08
1917,1628467200,42821.30,46497.42,43829.15,46285.48,19464.724935,2021-08-09,9.009341e+08
1916,1628553600,44650.27,46718.44,46280.00,45595.66,13756.500669,2021-08-10,6.272367e+08
1915,1628640000,45350.74,46781.09,45601.82,45553.49,11628.320440,2021-08-11,5.297106e+08

In [41]:
today = str(date.today())
df.loc[df.date == today].__dict__['_data']

BlockManager
Items: Index(['unix', 'low', 'high', 'open', 'close', 'volume', 'date', 'vol_fiat'], dtype='object')
Axis 1: Int64Index([], dtype='int64')
FloatBlock: [1, 2, 3, 4, 5, 7], 6 x 0, dtype: float64
IntBlock: slice(0, 1, 1), 1 x 0, dtype: int64
ObjectBlock: slice(6, 7, 1), 1 x 0, dtype: object

In [25]:
# #
# df.drop(index=1901, inplace=True)

In [42]:
df.date.value_counts()

2021-03-28    2
2020-12-03    2
2021-06-26    2
2020-12-15    2
2020-11-10    2
             ..
2016-10-22    1
2020-06-14    1
2017-05-24    1
2017-08-24    1
2016-04-22    1
Name: date, Length: 2202, dtype: int64

In [27]:
df.drop_duplicates(inplace = True)
df.date.value_counts()

2017-10-07    1
2017-07-23    1
2015-09-12    1
2015-12-29    1
2021-07-12    1
             ..
2021-04-03    1
2017-11-13    1
2021-07-07    1
2020-12-09    1
2021-02-05    1
Name: date, Length: 2202, dtype: int64

In [28]:
# change index to datetime objects for use in timeseries modeling
df.set_index(pd.to_datetime(df['date']), drop=True, inplace=True)
df.pop('date')

date
2015-10-28    2015-10-28
2015-10-27    2015-10-27
2015-10-26    2015-10-26
2015-10-25    2015-10-25
2015-10-24    2015-10-24
                 ...
2020-10-04    2020-10-04
2020-10-03    2020-10-03
2020-10-02    2020-10-02
2021-07-29    2021-07-29
2021-07-28    2021-07-28
Name: date, Length: 2202, dtype: object

In [29]:
df

,unix,low,high,open,close,volume,vol_fiat
date,,,,,,,
2015-10-28,1445990400,295.65,308.93,295.68,304.09,16047.510771,4.879888e+06
2015-10-27,1445904000,286.89,297.99,287.10,295.61,11123.681788,3.288272e+06
2015-10-26,1445817600,282.04,287.68,284.97,287.10,7477.924219,2.146912e+06
2015-10-25,1445731200,283.28,295.93,284.29,284.97,10695.708371,3.047956e+06
2015-10-24,1445644800,278.75,284.49,278.76,284.29,5508.016725,1.565874e+06
...,...,...,...,...,...,...,...
2020-10-04,1601769600,10521.87,10697.00,10550.32,10671.11,3569.256202,3.808793e+07
2020-10-03,1601683200,10498.02,10606.36,10573.12,10551.65,3211.704593,3.388878e+07
2020-10-02,1601596800,10363.76,10668.56,10616.35,10573.12,10263.482903,1.085170e+08
2021-07-29,1627516800,39229.47,40275.53,40035.10,39920.07,1717.930671,6.857991e+07
2021-07-28,1627430400,38803.34,40925.56,39475.99,40035.10,27198.333581,1.088888e+09

In [30]:
df.shape[0]-2

2200

In [31]:
df.sort_values('date')
df.reset_index(inplace=True)

# drop incomplete date (tomorrow)
drop = int(df.shape[0]-2) 
df.drop(index=drop, inplace=True)
df

,date,unix,low,high,open,close,volume,vol_fiat
0,2015-10-28,1445990400,295.65,308.93,295.68,304.09,16047.510771,4.879888e+06
1,2015-10-27,1445904000,286.89,297.99,287.10,295.61,11123.681788,3.288272e+06
2,2015-10-26,1445817600,282.04,287.68,284.97,287.10,7477.924219,2.146912e+06
3,2015-10-25,1445731200,283.28,295.93,284.29,284.97,10695.708371,3.047956e+06
4,2015-10-24,1445644800,278.75,284.49,278.76,284.29,5508.016725,1.565874e+06
...,...,...,...,...,...,...,...,...
2196,2020-10-05,1601856000,10621.12,10800.00,10670.01,10795.00,6081.387019,6.564857e+07
2197,2020-10-04,1601769600,10521.87,10697.00,10550.32,10671.11,3569.256202,3.808793e+07
2198,2020-10-03,1601683200,10498.02,10606.36,10573.12,10551.65,3211.704593,3.388878e+07
2199,2020-10-02,1601596800,10363.76,10668.56,10616.35,10573.12,10263.482903,1.085170e+08
2201,2021-07-28,1627430400,38803.34,40925.56,39475.99,40035.10,27198.333581,1.088888e+09

In [32]:
df.to_csv(f'../data/combined_coinbase_{today}')