In [26]:
# First import the libraries that we need to use
import pandas as pd
import requests
import json

In [27]:
# # daily data
# def fetch_daily_data(symbol):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?granularity=86400'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_dailydata.csv', index=False)

#     else:
#         print("Did not receieve OK response from Coinbase API")


# # if __name__ == "__main__":
# #     # we set which pair we want to retrieve data for
# #     pair = "BTC/USD"
# #     fetch_daily_data(symbol=pair)

In [28]:
# def fetch_minute_data(symbol):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_daily_m_data.csv', index=False)

#     else:
#         print("Did not receieve OK response from Coinbase API")


# # if __name__ == "__main__":
# #     # we set which pair we want to retrieve data for
# #     pair = "BTC/USD"
# #     fetch_minute_data(symbol=pair)

In [29]:
# def fetch_my_data(symbol):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26&granularity=86400'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_data.csv', index=False)
            

#     else:
#         print("Did not receieve OK response from Coinbase API")


# # if __name__ == "__main__":
# #     # we set which pair we want to retrieve data for
# #     pair = "BTC/USD"
# #     fetch_my_data(symbol=pair)

In [30]:
# def fetch_data(symbol, counter=counter):
#     pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
#     symbol = pair_split[0] + '-' + pair_split[1]
#     url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26T05:00:00&end=2021-07-26T09:59:00'
#     response = requests.get(url)
#     if response.status_code == 200:  # check to make sure the response from server is good
#         data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
#         data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
#         data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

#         # if we failed to get any data, print an error...otherwise write the file
#         if data is None:
#             print("Did not return any data from Coinbase for this symbol")
#         else:
#             data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_data_{i}.csv', index=False)
            

#     else:
#         print("Did not receieve OK response from Coinbase API")


# if __name__ == "__main__":
#     # we set which pair we want to retrieve data for
#     pair = "BTC/USD"
#     fetch_data(symbol=pair)            
#     i+=1

# i

In [31]:
# imported data from other sources stops at 2018-09-27
# create loop that gathers daily data from 2018-09-27 to present
import datetime as dt
from datetime import timedelta

In [32]:
# last_date = '2018-09-27'
# last_date = dt.strpdate(last_date, '%Y-%m-%d')
# from datetime import date
last_date = dt.date(2018, 9, 27)
last_date

datetime.date(2018, 9, 27)

In [33]:
today = dt.date.today()

In [34]:
yesterday = today - timedelta(days=1)

In [35]:
today - last_date

datetime.timedelta(days=1054)

In [36]:
# create strings that will hold dates for api queries
year = '2018'
month = '00'
day = '00'

In [37]:
date = last_date + timedelta(days=1)
date

datetime.date(2018, 9, 28)

In [38]:
# create code to change date while maintaining leading zeroes
day_len = len(str(date.day))
day = day[:-day_len] + str(date.day)

month_len = len(str(date.month))
month = month[:-month_len] + str(date.month)

print(year, month, day)

2018 09 28

In [39]:
# test function for loop below
def pass_range(range1, range2):
    print(range1, range2)

In [40]:
# final date in kaggle data
last_date = dt.date(2018, 9, 26)
last_date

# first date in kaggle data
first_date = dt.date(2013, 4, 28)
first_date

#initial date searching for btc data
old = dt.date(2009,1,1)

## Begin at end of kaggle data and go to current date

In [41]:
last_date

datetime.date(2018, 9, 26)

In [42]:
i = 0
# instatntiate "date"
i_date = last_date

# get information for all dayes between today and missing date

# wrap in while lloop to prevent run away queries
while i_date < date.today():
    if date.today() - i_date > timedelta(days=300):
        i_date = last_date + timedelta(days=300)
    
    else:
        i_date = last_date + (date.today() - i_date)
    
    #define start and end dates for query
    start = str(last_date+timedelta(days=1))
    end = str(i_date)
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    last_date = i_date

2018-09-27 2019-07-23
2019-07-24 2020-05-18
2020-05-19 2021-03-14
2021-03-15 2021-08-16

In [43]:
from os import mkdir

## Begin at today's date and move back to start date

In [44]:
# instantiate "date", do not include current date as information is not complete
i_date = date.today() - timedelta(days=1)

# create placeholder for date range 
place_date = i_date

# get information for all dayes between today and missing date

# wrap in while lloop to prevent run away queries
while i_date > old:

    i_date = place_date - timedelta(days=300)

    #define start and end dates for query
    end = str(place_date)
    start = str(i_date+timedelta(days=1))
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    place_date = i_date

2020-10-20 2021-08-15
2019-12-25 2020-10-19
2019-02-28 2019-12-24
2018-05-04 2019-02-27
2017-07-08 2018-05-03
2016-09-11 2017-07-07
2015-11-16 2016-09-10
2015-01-20 2015-11-15
2014-03-26 2015-01-19
2013-05-30 2014-03-25
2012-08-03 2013-05-29
2011-10-08 2012-08-02
2010-12-12 2011-10-07
2010-02-15 2010-12-11
2009-04-21 2010-02-14
2008-06-25 2009-04-20

In [50]:
def fetch_range_data(symbol, start, end, path=None):
    # make folder for data or make exception
    if not path:
        path = f'../data/coinbase/daily_raw/{end}'
        
    try:
        mkdir(path)

    except:
        pass
    
    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?granularity=86400&start={start}&end={end}'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
        data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

        # if we failed to get any data, print an error...otherwise write the file
        if data is None:
            print(f"Did not return any data from Coinbase for this symbol - {symbol}")
        else:
            data.to_csv(f'{path}/Coinbase_{pair_split[0] + pair_split[1]}_data_{start}_{end}.csv', index=False)


    else:
        print("Did not receieve OK response from Coinbase API")
        

# get all available data from given date
if __name__ == "__main__":
    # we set which pair we want to retrieve data for
    pair = "BTC/USD"
    begin = "2015-07-20"
    stop = "2021-08-16"

    # instantiate index "i_date"
    i_date = dt.date.today() - timedelta(days=1)

    # create placeholder for date range 
    place_date = i_date
#     #initial date searching for btc data on coinbase api
#     old = dt.date(2015,7,20)

    # wrap in while loop to prevent run away queries
    while i_date > old:

        i_date = place_date - timedelta(days=300)

        #define start and end dates for query
        end = str(place_date)
        start = str(i_date+timedelta(days=1))
    
        fetch_range_data(pair, begin, stop) 
    
        # set last date to date to continue loop
        place_date = i_date

Did not receieve OK response from Coinbase API
Did not receieve OK response from Coinbase API
Did not receieve OK response from Coinbase API
Did not receieve OK response from Coinbase API
Did not receieve OK response from Coinbase API
Did not receieve OK response from Coinbase API
Did not receieve OK response from Coinbase API
Did not receieve OK response from Coinbase API

In [46]:
# instatntiate index date "i_date"
i_date = dt.date.today()

# create placeholder for date range 
place_date = i_date

# get information for all dayes between today and missing date

# wrap in while loop to prevent run away queries
while i_date > old:

    i_date = place_date - timedelta(days=300)

    #define start and end dates for query
    end = str(place_date)
    start = str(i_date+timedelta(days=1))
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    place_date = i_date

2020-10-21 2021-08-16
2019-12-26 2020-10-20
2019-03-01 2019-12-25
2018-05-05 2019-02-28
2017-07-09 2018-05-04
2016-09-12 2017-07-08
2015-11-17 2016-09-11
2015-01-21 2015-11-16

# Combine Data

In [47]:
import os

In [48]:
# make empty list to store coinbase paths
cb_list = []
yesterday = dt.date.today() - timedelta(days=1)
path = f'../data/coinbase/daily_raw/{yesterday}'
for root, dirs, files in os.walk(path):
    
    if root == path:
        for name in files:
            cb_list.append(os.path.join(root,name))
    
cb_list

['../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2015-01-20_2015-11-15.csv',
 '../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2015-11-16_2016-09-10.csv',
 '../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2016-09-11_2017-07-07.csv',
 '../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2017-07-08_2018-05-03.csv',
 '../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2018-05-04_2019-02-27.csv',
 '../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2019-02-28_2019-12-24.csv',
 '../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2019-12-25_2020-10-19.csv',
 '../data/coinbase/daily_raw/2021-08-15\\Coinbase_BTCUSD_data_2020-10-20_2021-08-15.csv']

In [75]:
#combine all csv files into single data frame
df = pd.DataFrame()
for my_df in cb_list:
    df = df.append(pd.read_csv(my_df), ignore_index=True)

# df = df.append(pd.read_csv('../data/coinbase/Coinbase_BTCUSD_data.csv'), ignore_index=True)
# df

In [76]:
df.date.value_counts()

2019-10-09    1
2019-11-04    1
2015-10-09    1
2017-10-30    1
2016-05-06    1
             ..
2018-06-11    1
2017-08-27    1
2016-10-02    1
2016-08-24    1
2018-08-03    1
Name: date, Length: 2219, dtype: int64

In [89]:
import warnings

In [91]:
# check for duplicates
if not df.drop_duplicates().equals(df):
    warnings.warn('Duplicate entries detected.')

In [69]:
# change index to datetime objects for use in timeseries modeling
df.set_index(pd.to_datetime(df['date']), drop=True, inplace=True)
df.pop('date')

date
2015-11-15    2015-11-15
2015-11-14    2015-11-14
2015-11-13    2015-11-13
2015-11-12    2015-11-12
2015-11-11    2015-11-11
                 ...
2020-10-24    2020-10-24
2020-10-23    2020-10-23
2020-10-22    2020-10-22
2020-10-21    2020-10-21
2020-10-20    2020-10-20
Name: date, Length: 2219, dtype: object

In [70]:
df

,unix,low,high,open,close,volume,vol_fiat
date,,,,,,,
2015-11-15,1447545600,319.89,336.46,334.67,322.93,6329.302827,2.043922e+06
2015-11-14,1447459200,329.40,339.57,338.08,334.71,6008.710164,2.011175e+06
2015-11-13,1447372800,325.00,343.00,336.49,338.07,10203.566404,3.449520e+06
2015-11-12,1447286400,312.24,344.99,313.20,336.49,15784.268176,5.311248e+06
2015-11-11,1447200000,293.32,341.75,337.14,313.20,18099.038294,5.668619e+06
...,...,...,...,...,...,...,...
2020-10-24,1603497600,12884.31,13175.00,12938.00,13126.24,7915.346635,1.038987e+08
2020-10-23,1603411200,12722.72,13037.00,12988.20,12937.09,10450.872072,1.352039e+08
2020-10-22,1603324800,12698.02,13200.00,12808.01,12987.02,20337.789664,2.641273e+08
2020-10-21,1603238400,11900.01,13250.04,11923.07,12808.00,32404.632932,4.150385e+08
2020-10-20,1603152000,11685.00,12050.00,11760.45,11923.83,13840.024813,1.650261e+08

In [71]:
df.sort_index()

,unix,low,high,open,close,volume,vol_fiat
date,,,,,,,
2015-07-20,1437350400,277.37,280.00,277.98,280.00,782.883420,2.192074e+05
2015-07-21,1437436800,276.85,281.27,279.96,277.32,4943.559434,1.370948e+06
2015-07-22,1437523200,275.01,278.54,277.33,277.89,4687.909383,1.302723e+06
2015-07-23,1437609600,276.28,279.75,277.96,277.39,5306.919575,1.472086e+06
2015-07-24,1437696000,276.43,291.52,277.23,289.12,7362.469083,2.128637e+06
...,...,...,...,...,...,...,...
2021-08-11,1628640000,45350.74,46781.09,45601.82,45553.49,11628.320440,5.297106e+08
2021-08-12,1628726400,43714.36,46223.95,45553.10,44422.14,13169.781770,5.850299e+08
2021-08-13,1628812800,44249.64,47953.90,44422.15,47833.64,11794.941963,5.641950e+08
2021-08-14,1628899200,46034.93,48176.52,47833.64,47109.65,8130.367694,3.830188e+08
2021-08-15,1628985600,45525.19,47400.00,47109.64,47014.49,7745.702008,3.641602e+08

In [72]:
df.to_csv(f'../data/combined_coinbase_{today}')