In [44]:
# First import the libraries that we need to use
import pandas as pd
import requests
import json

In [ ]:
# daily data
def fetch_daily_data(symbol):
    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?granularity=86400'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
        data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

        # if we failed to get any data, print an error...otherwise write the file
        if data is None:
            print("Did not return any data from Coinbase for this symbol")
        else:
            data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_dailydata.csv', index=False)

    else:
        print("Did not receieve OK response from Coinbase API")


# if __name__ == "__main__":
#     # we set which pair we want to retrieve data for
#     pair = "BTC/USD"
#     fetch_daily_data(symbol=pair)

In [2]:
def fetch_minute_data(symbol):
    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
        data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

        # if we failed to get any data, print an error...otherwise write the file
        if data is None:
            print("Did not return any data from Coinbase for this symbol")
        else:
            data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_daily_m_data.csv', index=False)

    else:
        print("Did not receieve OK response from Coinbase API")


# if __name__ == "__main__":
#     # we set which pair we want to retrieve data for
#     pair = "BTC/USD"
#     fetch_minute_data(symbol=pair)

In [45]:
def fetch_my_data(symbol):
    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26&granularity=86400'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
        data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

        # if we failed to get any data, print an error...otherwise write the file
        if data is None:
            print("Did not return any data from Coinbase for this symbol")
        else:
            data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_data.csv', index=False)
            

    else:
        print("Did not receieve OK response from Coinbase API")


# if __name__ == "__main__":
#     # we set which pair we want to retrieve data for
#     pair = "BTC/USD"
#     fetch_my_data(symbol=pair)

In [5]:
counter = 0

In [6]:
def fetch_data(symbol, counter=counter):
    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?start=2021-07-26T05:00:00&end=2021-07-26T09:59:00'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
        data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

        # if we failed to get any data, print an error...otherwise write the file
        if data is None:
            print("Did not return any data from Coinbase for this symbol")
        else:
            data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_data_{i}.csv', index=False)
            

    else:
        print("Did not receieve OK response from Coinbase API")


if __name__ == "__main__":
    # we set which pair we want to retrieve data for
    pair = "BTC/USD"
    fetch_data(symbol=pair)            
    i+=1

i

2

In [44]:
# imported data from other sources stops at 2018-09-27
# create loop that gathers daily data from 2018-09-27 to present
from datetime import datetime as dt, timedelta

In [78]:
# last_date = '2018-09-27'
# last_date = dt.strpdate(last_date, '%Y-%m-%d')
from datetime import date
last_date = date(2018, 9, 27)
last_date

datetime.date(2018, 9, 27)

In [12]:
today = date.today()

In [13]:
today - last_date

datetime.timedelta(days=1034)

In [33]:
# create strings that will hold dates for api queries
year = '2018'
month = '00'
day = '00'

In [34]:
date = last_date + timedelta(days=1)
date

datetime.date(2018, 9, 28)

In [77]:
# create code to change date while maintaining leading zeroes
day_len = len(str(date.day))
day = day[:-day_len] + str(date.day)

month_len = len(str(date.month))
month = month[:-month_len] + str(date.month)

print(year, month, day)

2018 <attribute 'month' of 'datetime.date' objects> <attribute 'day' of 'datetime.date' objects>

In [20]:
# test function for loop below
def pass_range(range1, range2):
    print(range1, range2)

In [113]:
from datetime import date
last_date = date(2018, 9, 26)
last_date
first_date = date(2013, 4, 28)
first_date
old = date(2009,1,1)

In [99]:
# instatntiate "date"
date = last_date

# get information for all dayes between today and missing date

# wrap in while lloop to prevent run away queries
while date < date.today():
    if date.today() - date > timedelta(days=300):
        date = last_date + timedelta(days=300)
    
    else:
        date = last_date + (date.today() - date)
    
    #define start and end dates for query
    start = str(last_date+timedelta(days=1))
    end = str(date)
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    last_date = date

2018-09-27 2019-07-23
2019-07-24 2020-05-18
2020-05-19 2021-03-14
2021-03-15 2021-07-28

In [111]:
# instatntiate "date"
date = date.today()

# create placeholder for date range 
place_date = date

# get information for all dayes between today and missing date

# wrap in while lloop to prevent run away queries
while date > old:

    date = place_date - timedelta(days=300)

    #define start and end dates for query
    end = str(place_date)
    start = str(date+timedelta(days=1))
    
    pass_range(start, end) 
    
    # set last date to date to continue loop
    place_date = date

2020-10-02 2021-07-28
2019-12-07 2020-10-01
2019-02-10 2019-12-06
2018-04-16 2019-02-09
2017-06-20 2018-04-15
2016-08-24 2017-06-19
2015-10-29 2016-08-23
2015-01-02 2015-10-28
2014-03-08 2015-01-01
2013-05-12 2014-03-07
2012-07-16 2013-05-11
2011-09-20 2012-07-15
2010-11-24 2011-09-19
2010-01-28 2010-11-23
2009-04-03 2010-01-27
2008-06-07 2009-04-02

In [85]:
def fetch_range_data(symbol, start=start, end=end):
    pair_split = symbol.split('/')  # symbol must be in format XXX/XXX ie. BTC/EUR
    symbol = pair_split[0] + '-' + pair_split[1]
    url = f'https://api.pro.coinbase.com/products/{symbol}/candles?granularity=86400&start={start}&end={end}'
    response = requests.get(url)
    if response.status_code == 200:  # check to make sure the response from server is good
        data = pd.DataFrame(json.loads(response.text), columns=['unix', 'low', 'high', 'open', 'close', 'volume'])
        data['date'] = pd.to_datetime(data['unix'], unit='s')  # convert to a readable date
        data['vol_fiat'] = data['volume'] * data['close']      # multiply the BTC volume by closing price to approximate fiat volume

        # if we failed to get any data, print an error...otherwise write the file
        if data is None:
            print("Did not return any data from Coinbase for this symbol")
        else:
            data.to_csv(f'../data/coinbase/Coinbase_{pair_split[0] + pair_split[1]}_data_{start}_{end}.csv', index=False)
            

    else:
        print("Did not receieve OK response from Coinbase API")


if __name__ == "__main__":
    # we set which pair we want to retrieve data for
    pair = "BTC/USD"
    
    # instatntiate "date"
    date = last_date

    # get information for all dayes between today and missing date

    # wrap in while lloop to prevent run away queries
    while date < date.today():
        if date.today() - date > timedelta(days=300):
            date = last_date + timedelta(days=300)
    
        else:
            date = last_date + (date.today() - date)
    
        #define start and end dates for query
        start = str(last_date+timedelta(days=1))
        end = str(date)
    
        fetch_range_data(symbol=pair, start=start, end=end) 
    
        # set "last_date" to "date" to continue loop
        last_date = date

In [115]:
# get all available data from given date
if __name__ == "__main__":
    # we set which pair we want to retrieve data for
    pair = "BTC/USD"


    # instatntiate "date"
    date = date.today()

    # create placeholder for date range 
    place_date = date

    # get information for all dayes between today and missing date

    # wrap in while lloop to prevent run away queries
    while date > old:

        date = place_date - timedelta(days=300)

        #define start and end dates for query
        end = str(place_date)
        start = str(date+timedelta(days=1))
    
        fetch_range_data(symbol=pair, start=start, end=end) 
    
        # set last date to date to continue loop
        place_date = date

# Combine Data

In [46]:
import pandas as pd
import os

In [54]:
# make empty list to store coinbase paths
cb_list = []
for root, dirs, files in os.walk('../data/coinbase/daily_raw'):
    
    if root == '../data/coinbase/daily_raw':
        for name in files:
            cb_list.append(os.path.join(root,name))
    
cb_list

['../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2015-07-20_2015-10-28.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2015-10-29_2016-08-23.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2016-08-24_2017-06-19.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2017-06-20_2018-04-15.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2018-04-16_2019-02-09.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2019-02-10_2019-12-06.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2019-12-07_2020-10-01.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2020-10-02_2021-07-28.csv']

In [55]:
# cb_list = cb_list[6:]
cb_list

['../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2015-07-20_2015-10-28.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2015-10-29_2016-08-23.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2016-08-24_2017-06-19.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2017-06-20_2018-04-15.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2018-04-16_2019-02-09.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2019-02-10_2019-12-06.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2019-12-07_2020-10-01.csv',
 '../data/coinbase/daily_raw\\Coinbase_BTCUSD_data_2020-10-02_2021-07-28.csv']

In [131]:
#combine all csv files into single data frame
df = pd.DataFrame()
for my_df in cb_list:
    df = df.append(pd.read_csv(my_df), ignore_index=True)

df = df.append(pd.read_csv('../data/coinbase/Coinbase_BTCUSD_data.csv'), ignore_index=True)
df

,unix,low,high,open,close,volume,date,vol_fiat
0,1445990400,295.65,308.93,295.68,304.09,16047.510771,2015-10-28,4.879888e+06
1,1445904000,286.89,297.99,287.10,295.61,11123.681788,2015-10-27,3.288272e+06
2,1445817600,282.04,287.68,284.97,287.10,7477.924219,2015-10-26,2.146912e+06
3,1445731200,283.28,295.93,284.29,284.97,10695.708371,2015-10-25,3.047956e+06
4,1445644800,278.75,284.49,278.76,284.29,5508.016725,2015-10-24,1.565874e+06
...,...,...,...,...,...,...,...,...
2496,1602028800,10546.78,10683.75,10601.20,10670.47,6108.042551,2020-10-07,6.517568e+07
2497,1601942400,10524.00,10800.00,10796.97,10602.66,7596.363720,2020-10-06,8.054166e+07
2498,1601856000,10621.12,10800.00,10670.01,10795.00,6081.387019,2020-10-05,6.564857e+07
2499,1601769600,10521.87,10697.00,10550.32,10671.11,3569.256202,2020-10-04,3.808793e+07
2500,1601683200,10498.02,10606.36,10573.12,10551.65,3211.704593,2020-10-03,3.388878e+07

In [132]:
df.loc[df.date == '2021-07-28'].__dict__['_data']

BlockManager
Items: Index(['unix', 'low', 'high', 'open', 'close', 'volume', 'date', 'vol_fiat'], dtype='object')
Axis 1: Int64Index([1901, 2202], dtype='int64')
FloatBlock: [1, 2, 3, 4, 5, 7], 6 x 2, dtype: float64
IntBlock: slice(0, 1, 1), 1 x 2, dtype: int64
ObjectBlock: slice(6, 7, 1), 1 x 2, dtype: object

In [133]:
df.drop(index=1901, inplace=True)

In [134]:
df.date.value_counts()

2020-11-08    2
2021-06-23    2
2020-12-04    2
2020-11-05    2
2021-07-13    2
             ..
2016-11-08    1
2018-04-17    1
2020-03-01    1
2019-08-20    1
2016-10-15    1
Name: date, Length: 2202, dtype: int64

In [135]:
df.drop_duplicates(inplace = True)
df.date.value_counts()

2016-12-21    1
2017-11-05    1
2019-03-10    1
2017-11-04    1
2018-02-18    1
             ..
2018-10-10    1
2021-01-28    1
2015-10-23    1
2016-09-21    1
2016-10-15    1
Name: date, Length: 2202, dtype: int64

In [136]:
# change index to datetime objects for use in timeseries modeling
df.set_index(pd.to_datetime(df['date']), drop=True, inplace=True)
df.pop('date')

date
2015-10-28    2015-10-28
2015-10-27    2015-10-27
2015-10-26    2015-10-26
2015-10-25    2015-10-25
2015-10-24    2015-10-24
                 ...
2020-10-04    2020-10-04
2020-10-03    2020-10-03
2020-10-02    2020-10-02
2021-07-29    2021-07-29
2021-07-28    2021-07-28
Name: date, Length: 2202, dtype: object

In [137]:
df

,unix,low,high,open,close,volume,vol_fiat
date,,,,,,,
2015-10-28,1445990400,295.65,308.93,295.68,304.09,16047.510771,4.879888e+06
2015-10-27,1445904000,286.89,297.99,287.10,295.61,11123.681788,3.288272e+06
2015-10-26,1445817600,282.04,287.68,284.97,287.10,7477.924219,2.146912e+06
2015-10-25,1445731200,283.28,295.93,284.29,284.97,10695.708371,3.047956e+06
2015-10-24,1445644800,278.75,284.49,278.76,284.29,5508.016725,1.565874e+06
...,...,...,...,...,...,...,...
2020-10-04,1601769600,10521.87,10697.00,10550.32,10671.11,3569.256202,3.808793e+07
2020-10-03,1601683200,10498.02,10606.36,10573.12,10551.65,3211.704593,3.388878e+07
2020-10-02,1601596800,10363.76,10668.56,10616.35,10573.12,10263.482903,1.085170e+08
2021-07-29,1627516800,39229.47,40275.53,40035.10,39920.07,1717.930671,6.857991e+07
2021-07-28,1627430400,38803.34,40925.56,39475.99,40035.10,27198.333581,1.088888e+09

In [145]:
df.shape[0]-2

2200

In [148]:
df.sort_values('date')
df.reset_index(inplace=True)

# drop incomplete date (tomorrow)
drop = int(df.shape[0]-2)
df.drop(index=drop, inplace=True)
df

,index,date,unix,low,high,open,close,volume,vol_fiat
0,0,2015-10-28,1445990400,295.65,308.93,295.68,304.09,16047.510771,4.879888e+06
1,1,2015-10-27,1445904000,286.89,297.99,287.10,295.61,11123.681788,3.288272e+06
2,2,2015-10-26,1445817600,282.04,287.68,284.97,287.10,7477.924219,2.146912e+06
3,3,2015-10-25,1445731200,283.28,295.93,284.29,284.97,10695.708371,3.047956e+06
4,4,2015-10-24,1445644800,278.75,284.49,278.76,284.29,5508.016725,1.565874e+06
...,...,...,...,...,...,...,...,...,...
2196,2196,2020-10-05,1601856000,10621.12,10800.00,10670.01,10795.00,6081.387019,6.564857e+07
2197,2197,2020-10-04,1601769600,10521.87,10697.00,10550.32,10671.11,3569.256202,3.808793e+07
2198,2198,2020-10-03,1601683200,10498.02,10606.36,10573.12,10551.65,3211.704593,3.388878e+07
2199,2199,2020-10-02,1601596800,10363.76,10668.56,10616.35,10573.12,10263.482903,1.085170e+08
2201,2201,2021-07-28,1627430400,38803.34,40925.56,39475.99,40035.10,27198.333581,1.088888e+09

In [149]:
df.to_csv('../data/combined_coinbase_2021-07-28')